.clients{
    
    @include rem(margin-bottom, 10rem);
    .quote{
        @include rem(margin-top, 3rem);
        text-align: center;
        color: $c_l_gr;
        

        blockquote{
            @include rem(font-size, 1.8rem);
            @include rem(line-height, 2.8rem);
            &:before{
                color: $c_gh_gr;
            }
            &:after{
                color: $c_gh_gr;
            }
        }
        .quote__title{
            @include rem(margin-top, 2.5rem);
        }
    }
}

.clients__wrapper{
    align-items:flex-end; 
    justify-content: space-between;
    .clients__client{
        @include rem(margin, 5rem 0);

        img{
            zoom:.5;
        }
    }
}
.clients--second {
    align-items: flex-start;
}

.clients--headline{
    h1{
        text-align: center;
        line-height: 85%;
        @include rem(margin, 2.5rem 0);
    }
}