a{
    text-decoration: none;
}
h1{
    @include rem(font-size, 3.6rem);
    font-family: $t_gotham;
    font-weight: bold;
    text-transform: uppercase;
}

h3{
    @include rem(font-size, 2.2rem);
    font-family: $t_museo;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    color: $c_d_gr;
    @include rem(margin, 0 0 2rem 0);
    line-height: 122%;
}
.darkbg{
    
    h1, h2, h3, h4, h5, h6, div, p, blockquote, span {
        color: $c_wh;
    }
}

blockquote{
    font-family: $t_museo;
    font-style: italic;
    padding: 0;
    margin: 0;
}