html, body, p{
    font-family: $t_museo;
    letter-spacing: 1.2px;
    color: $ca_1st_txt;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
    @include rem(margin, 0 0 1rem 0 );
}
li{
    color: $ca_2nd_txt;
}
.container-fluid{
    padding:0;
    overflow: hidden;
}
.container{
    padding: 0;
    margin: auto;
}
section.fixed{
    position: fixed;
    z-index: 0;
    width: 100%;
    .no-gutters{
        img{
            width: 100%;
        }
    }
}
section{
    position: relative;
    z-index: 1;
    background: $ca_bg;
    &.darkbg{
        background: $c_md_gr;
    }
}
a{
    text-decoration: none;
    
}
h1{
    @include rem(font-size, 3.6rem);
    font-family: $t_gotham;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3{
    @include rem(font-size, 2.2rem);
    font-family: $t_museo;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    color: $c_d_gr;
    @include rem(margin, 0 0 2rem 0);
    line-height: 122%;
}
.darkbg{
    
    h1, h2, h3, h4, h5, h6, div, p, blockquote, span {
        color: $c_wh;
    }
    .nav .nav--desktop .menu__list li a{
        color: $c_gh_gr;

    }
}

blockquote{
    font-family: $t_museo;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.quote{
    position: relative;
    blockquote{
            @include rem(font-size, 2.2rem);
            position: relative;
            z-index: 1;
            display: inline-block;
            font-weight: 300;

            &:before{
                content:"“";
                position: absolute;
                font-family: $t_gotham;
                @include rem(font-size, 14rem);
                @include rem(line-height, 7rem);
                color: $c_brand;
                font-weight: 900;
                font-style: normal;
                z-index: -1;
                @include rem(top, 0.3rem);
                @include rem(left, 1rem);
                

            }
            &:after{
                content:"“";
                position: absolute;
                font-family: $t_gotham;
                @include rem(font-size, 14rem);
                @include rem(line-height, 7rem);
                color: $c_brand;
                font-weight: 900;
                font-style: normal;
                z-index: -1;
                @include rem(bottom, 1rem);
                @include rem(right, 1rem);
                transform: rotateZ(180deg);

            }
        }
        .quote__title{
            font-family: $t_museo;
            font-style: normal;
            font-weight: 700;
            @include rem(font-size, 1.4rem);
            
        }
}

//////
//CTA
//////

.cta{
    @include rem(padding, 5rem 0);
}
.button{
    color: $c_d_gr;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    @include rem(padding, 2rem 5rem);
    font-family: $t_gotham;
    @include rem(font-size, 1.4rem);
    letter-spacing: 0;
    font-weight: bold; 
    transition: $quick_tr ;

    &.bordered{
        border: 1px solid $c_brand;

    }
    &:hover{
        background: $c_brand;
        color: $c_wh;
        border: 1px solid $c_wh;

    }
}


//responsive images

.img-cover {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

//image position // flex order
.row.imgpos-first {
    flex-direction: row-reverse;

    .img-cover{
        background-position: right center;
    }
}


