.header{
    height: 60px;
    box-shadow: 0 0 12px 0px rgba(0,0,0,.15);
    
    & + main, & + article{
        padding-top: 60px;
    }

}
header.sticky {
    position: fixed;
    width: 100%;
    z-index: 99;
    background: #fff;
}

.brand__logo{
    height: 60px;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
   
}
.brand__text{
    font-family: $t_brand;
    @include rem(font-size, 1.8rem);
    color: $c_d_gr;
    position: relative;
    top:4px;
}
.nav{
    

    

        .menu__list{
            
            @include flexbox();
            @include flex-flow(row wrap);
            @include justify-content(flex-end);
            @include align-items(center);
            height: 60px;
            margin: 0;
            padding: 0 25px 0 0;
            
            li{
                @include rem(margin-left,5rem);
                height: 100%;
                vertical-align: middle;
                a{
                    font-family: $t_nav;
                    @include rem(font-size, 1.4rem);
                    color: $c_l_gr;
                    line-height: 60px;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-bottom: 1px solid #fff;
                    transition: $quick_tr;
                    

                    &:hover{
                        color:$c_d_gr;
                        border-bottom: 3px solid $c_brand;
                        

                    }
                }
                &.menu__item--current{
                    a{
                        color:$c_d_gr;
                        border-bottom: 3px solid $c_brand;
                        
                    }
                }
            }
        }
    
}
