.brands__wrapper{
    text-align: center;
    .brands__brand{
        @include rem(padding, 2rem 2rem);
        @include media-breakpoint-down(md) { 
            @include rem(padding, 1rem 0rem);
         }

        img{
            max-height: 70px;
            @include media-breakpoint-down(md){
                max-height: 40px;
            }
        }
    }
}
.brands{
    overflow: hidden;
    //@include rem(padding,8rem 0);
    .headline h1{
        @include rem(margin,4rem 0);
        @include media-breakpoint-down(md){
            font-size: 4.6vw;
            line-height: 133%;
            margin:3vh 0;
        }
    }
}
