.hero{
    overflow: hidden;
    top:60px;
}
.hero__partial{
    position: relative;
}
.gradient_cta{
    background-image: linear-gradient(314.97deg, #57A900 1%, #57A900 1.82%, #57A900 3.01%, #006890 99.9%);
    margin: 0;
    position: relative;
    @include rem(padding, 9.5rem 2.5rem);
    box-sizing: border-box;

    hr{
        width: 60px;
         @include rem(margin, 0 0 2rem 0);
    }
    h1{
        max-width: 520px;
    }
    .quote{
        position: absolute;
        @include rem(bottom, 2.5rem);
        @include rem(left, 2.5rem);
        width: 80%;
        max-width: 520px;
        letter-spacing: 1px;

        blockquote{
            @include rem(font-size, 2.2rem);
            &:before{
                color: $c_brand;
            }
            &:after{
                color: $c_brand;
            }
        }

        

    }
}
.toDown{
    @include circle(88px, $c_wh);
    border: 1px solid #E5E5E5;
    @include centerer("x");
    bottom: 20px;
    transition:$quick_tr;

    .oval{
        @include circle(34px, $c_wh);
        border: 1px solid #777C7F;
        @include centerer("xy");
        overflow: hidden;
        transition:$quick_tr;

        .downArrow{
            @include centerer("xy");
            @include arrow(4px, #777C7F, 1px, "down");
            transition:$quick_tr;
            
        }
    }
    &:hover{
         box-shadow: 0px 0px 10px 4px rgba($color: #000000, $alpha: .2);
         bottom:15px; 
         .oval{
             //background-color:$c_l_gr;
             
             .downArrow{
                @include animation('theFall 0.3s 1');
                animation-timing-function: easing('inOutSine');
                //border-color: $c_wh;
            }
         }
    }

    
}
