.clients{
    
    @include rem(padding-bottom, 16rem);
    @include rem(padding-top, 5rem);
    @include rem(margin-top, 60rem);
    overflow: hidden;
    
}

.clients__wrapper{
    text-align: center;
    .clients__client{
        @include rem(margin, 5rem 0);

        img{
            zoom:.5;
        }
    }
}
.clients--second {
    align-items: flex-start;
}

section .headline{
    h1{
        text-align: center;
        line-height: 85%;
        @include rem(margin, 2.5rem 0);
    }
}