.brands__wrapper{
    text-align: center;
    .brands__brand{
        @include rem(padding, 2rem 2rem);
        @include media-breakpoint-down(sm) { 
            @include rem(padding, 5rem 0rem);
         }

        img{
            zoom:.5;
        }
    }
}
.brands{
    overflow: hidden;
    @include rem(padding,8rem 0);
    .headline h1{
        @include rem(margin,4rem 0);
    }
}