.clients{
    
    //@include rem(padding-bottom, 16rem);
    //@include rem(padding-top, 5rem);
    //@include rem(margin-top, 60rem);
    overflow: hidden;
    
}
.col.clients__client {
    max-height: 110px;
}

.clients__wrapper{
    text-align: center;
    height: 110px;
    .clients__client{
        //@include rem(margin, 5rem 0);

        img{
            //zoom:.5;
            max-height: 110px;
        }
    }
}
.clients--second {
    align-items: flex-start;
}

.section .headline{
    h1{
        text-align: center;
        line-height: 85%;
        @include rem(margin, 7.5rem 0);
    }
}