.hero{
    overflow: hidden;
}
.hero__partial{
    position: relative;
}
.home{
    //top:-60px;
    .hero__partial, .hero__partial>.row.no-gutters, .hero__partial .gradient_cta{
        height: 100%;
    }
} 
.gradient_cta{
    background-image: linear-gradient(314.97deg, #57A900 1%, #57A900 1.82%, #57A900 3.01%, #006890 99.9%);
    margin: 0;
    border-right: 1px solid #fff;
    position: relative;
    @include rem(padding, 6.5rem 2.5rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    &:before, &:after{
        content: " ";
    }

    @include media-breakpoint-down(md){
        align-items: center;
        border-right: none;
    }

    hr{
        width: 60px;
         @include rem(margin, 0 0 2rem 0);
         @include media-breakpoint-down(md){
             @include rem(margin, 2rem auto);
         }
    }
    h1{
        max-width: 520px;
        @include media-breakpoint-down(md){
            text-align: center;
            max-width: initial;
            font-size: 4.5vw;
        }
    }
    h3{
        @include media-breakpoint-down(md){
            text-align: center;
            font-size: 4vw;
        }
    }
    .quote{
        /*
        position: absolute;
        @include rem(bottom, 2.5rem);
        @include rem(left, 2.5rem);
        */
        width: 80%;
        max-width: 520px;
        letter-spacing: 1px;
        @include media-breakpoint-down(md){
            max-width: initial;
            width: 100%;
            text-align: center;
        }

        blockquote{
            @include rem(font-size, 2.2rem);
            &:before{
                color: $c_brand;
            }
            &:after{
                color: $c_brand;
            }
            @include media-breakpoint-down(md){
                font-size: 4vw;
            }
        }

        

    }
}
.toDown{
    @include circle(88px, $c_wh);
    border: 2px solid #E5E5E5;
    @include centerer("x");
    bottom: 145px;//30px;
    z-index: 3;
    transition:$quick_tr;
    @include media-breakpoint-down(sm){
        bottom: 30px;
        transform-origin: -50% 100%;
        transform: scale(.5);
    }

    .oval{
        @include circle(34px, $c_wh);
        border: 1px solid #777C7F;
        @include centerer("xy");
        overflow: hidden;
        transition:$quick_tr;

        .downArrow{
            @include centerer("xy");
            @include arrow(4px, #777C7F, 1px, "down");
            transition:$quick_tr;
            
        }
    }
    &:hover{
         box-shadow: 0px 0px 12px 2px rgba($color: #000000, $alpha: .1);
         bottom:140px;//25px; 
         @include media-breakpoint-down(sm){
            bottom: 25px;
        }
         .oval{
             //background-color:$c_l_gr;
             
             .downArrow{
                @include animation('theFall 0.3s 1');
                animation-timing-function: easing('inOutSine');
                //border-color: $c_wh;
            }
         }
    }

    
}
