.testimonials{
   .quote{
        @include rem(padding, 3rem 0);
        text-align: center;
        color: $c_l_gr;
        

        blockquote{
            @include rem(font-size, 1.8rem);
            @include rem(line-height, 2.8rem);
            &:before{
                color: $c_gh_gr;
            }
            &:after{
                color: $c_gh_gr;
            }
        }
        .quote__wrapper{
            padding: 40px 100px;
            @include media-breakpoint-down(lg){
                padding:40px;
            }
            @include media-breakpoint-down(md){
                padding:50px;
            }
        }
        .quote__title{
            @include rem(margin-top, 2.5rem);
        }

    }

    .gradient_cta {
        h1{
            text-align: left;
            @include media-breakpoint-down(md){
                text-align: center;
            }
        }
        .button:hover {
            background: transparent;
            color: #fff;
            border-color: #fff;
        }
        .pink{
            background: #ff004e;
            border-color:#fff;
        }
    }
}

.home + .footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

@include media-breakpoint-down(md){
    
    .fp-tableCell{
        
       
        overflow-y: auto;
        overflow-x:hidden;
        .clients & {

            transform: scale(1) !important;
        }
        .brands & {
            transform: scale(1) !important;
        }
    }
}
