.callout_with_big_image{
    .container-fluid{
        height: 100%;
        overflow: visible;
    }
    
    height: 540px;
    @include media-breakpoint-down(md){
        height: auto;
    }
    /*
    @include media-breakpoint-down(xs){
        height: 420px;
    }
    */
    background-color: $c_gh_gr;

    .callout_img{
        position: absolute;
        left: 50%;
        max-height: 480px;
        max-width: 50%;
        @include media-breakpoint-down(md){
            position: relative;
            max-width: 100%;
            max-height: 400px;
            display: block;
            margin: auto;
            left: initial;
            &.negative{
                //top:-20px !important;
            }

        }
        @include media-breakpoint-down(xs){
            max-height: 300px;
        }
    }

    .callout_text{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        p{
            @include rem(font-size, 2.8rem);
            @include rem(line-height, 3.8rem);
            @include rem(padding-right, 2.8rem);
        }
        @include media-breakpoint-down(md){
            padding: 40px;
            line-height: 133%;
            position: relative;
            align-items: flex-end;
            height: auto;
            p{
                padding-top: 20px;
            }
        }
        @include media-breakpoint-down(sm){
            align-items: flex-end;
            padding: 0;
            p{

                line-height: 133%;
                font-size: 4vw;
                padding-right: 0;
                position: relative;
            }
        }
        
    }
}