.testimonial_with_full_bg{
    background-position: 50%;
    .quote{
        @include rem(padding, 5rem 0);
        .quote__wrapper{
            @include media-breakpoint-down(md){
                @include rem(padding, 2rem);
            }
        }
    }
    .quote_bg{
        width: 50%;
        margin: 0 auto;
        @include media-breakpoint-down(sm){
            width: 80%;
            @include rem(padding, 2rem);
        }
        background-color:#fff;
        @include rem(padding, 5rem 2.3rem);
        .client_icon img{
            max-height: 90px;
            @include rem(margin-bottom, 3.4rem);
        }
        hr{
            @include rem(margin-top, 3.4rem);
            border-color: $c_d_gr;
            color: $c_d_gr;
            border-width: 1px;
            width: 60px;
        }
    }
}