.zig_zag_rows{
    @include rem(padding, 7rem);
    border-bottom: 2px solid #979797;
    @include media-breakpoint-down(md){
        @include rem(padding, 3rem 2rem);
    }
    .centered_section_with_icon{
        padding: 0;
        img{
            margin-bottom: 10px;
            
        }
    }
    h1.title{
        @include rem(margin-bottom, 1rem);
        @include media-breakpoint-down(md){
            @include rem(margin-bottom, .5rem);
            line-height: 100%;
        }
    }
    .zig_zag_row{
        img{
            @include rem(margin-top, -1.5rem);
        }
    }
    .row.zig_zag_row:nth-child(2n+1) {
        flex-direction: row-reverse;
    }
}
