.content_block{
    @include rem(padding, 7rem 6rem);
    .single-col & {
        @include rem(padding, 7rem 0);
        .title h1{
            text-align: center;
        }
    }
    h1{
        @include rem(font-size, 2.8rem);
        @include rem(line-height, 3.2rem);
    }
    p{
        @include rem(font-size, 1.8rem);
        @include rem(line-height, 3.2rem);
    }
    ul{
        padding: 0;
    }
    li{
        @include rem(font-size, 1.8rem);
        @include rem(line-height, 3.2rem);
       
        list-style: none;
        [class*=" icon-"], [class^=icon-]{
                @include rem(margin-right, 2.2rem);
                @include rem(font-size, 1.4rem);
                

        }
    }
    @include media-breakpoint-down(md){

        .single-col & {
            p{
                @include rem(padding, 0 4rem);
            }
        }
        @include rem(padding, 7rem 4rem);
        p, h1, h2, h3, h4, h5, h6{
            text-align: center;
        }
    }
    @include media-breakpoint-down(sm){
        @include rem(padding, 5rem 2rem);
        .single-col & {
            p{

                @include rem(padding, 0rem 2rem);
            }
        }
    }
}


[class*=" list-icon-"], [class^=list-icon-] {
    li{
        display: flex;
        align-items: baseline;
    }
    
}
.two_column_wysiwyg, .two_column_icon_boxes {
    
    .wysiwyg, .iconbox{
        display: flex;
        justify-content: space-around;
        ul, div{
            width:90%;
            li{
                 @include rem(margin-bottom, 3.2rem);
                 &:last-child{
                     margin-bottom: 0;
                 }
            }
        }
        ul{
            @include rem(padding, 2.5rem 0);
        }
        

        &:first-of-type{
            
            &:after{
                content:" ";
                height:85%;
                border-right:1px solid $c_gh_gr;
                

                .darkbg & {
                    border-color:$c_m_gr;
                }
                width:1px;
                position: absolute;
                top:20px;
                right: 0;
                @include media-breakpoint-down(md){
                    width: 100%;
                    height: 1px;
                    border-right: none;
                    border-bottom: 1px solid $c_gh_gr;
                    bottom: 0;
                    left: 0;
                    top: initial;
                }

            }
        }
    }
}
.two_column_icon_boxes {
    @include rem(padding-top,4rem);
    .iconbox{
        text-align: center;
        align-items: center;
        @include rem(padding, 3rem 0)
        &:first-of-type{
            
            &::after{
                top:0;
                @include media-breakpoint-down(md){
                    bottom: 0;
                    top: initial;
                    width: 25%;
                    @include centerer('x');
                }
            }
        }
        .iconbox__icon{
            @include rem(font-size, 5rem);
            color: $ca_iconbox;
        }
    }
}


.title.iconned{
    [class*=" icon-"], [class^=icon-]{
        color:$ca_2nd_txt;
        @include rem(margin-right, 2.1rem);
    }
}

//custom styles for sections
.creative_design{
    p{
        @include rem(margin-bottom, 7rem);
    }
}