/* =========================================
		Color Index
   ========================================= */

/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

// examples:



$c_bl: #000;

$c_wh: #fff;

$c_brand: #57A900;

$c_md_gr: #27292A;
$c_d_gr: #3B3E40;
$c_m_gr: #686D71;
$c_l_gr: #777C7F;
$c_gh_gr: #DEE2E4; //ghost Gray

$c_blue: #006890;


/* =========================================
		Colors Applied
   ========================================= */

/**
 * Prefix applied colors with $ca_
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

// examples:

// state
/*
$ca_highlight: $c_blueviolet;

$ca_error: $c_red;

$ca_success: $c_green;
*/

// elements
$ca_bg: $c_wh;


// typography
$ca_title: $c_d_gr;
$ca_1st_txt: $c_m_gr;
$ca_2nd_txt: #A4A7AA;

